* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;

  background-color: antiquewhite;

  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: 100px auto 100px;
  gap: 10px;
}

header {
  padding: 20px;
  background-color: cadetblue;
  grid-column: span 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
  
  list-style: none;
}

aside {
  background-color: brown;
}

main {
  background-color: steelblue;
}

footer {
  grid-column: span 2;

  background-color: darkslategrey;
}

@media screen and (max-width: 880px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  header,
  footer {
    grid-column: span 1;
  }
}


@media screen and (max-width: 400px) {
  nav ul {
    flex-wrap: wrap;
  }
}